<div class="row">
    <h1>Experiencia laboral:</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>
                <h2>Tabajo 1</h2>
                <h3> (Años)</h3> 
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat expedita perferendis ullam esse blanditiis ad iusto, fugit est architecto? Ratione odit accusamus nihil saepe facilis, vitae ducimus quaerat quia voluptates!
                </p>         
            </li>
            <li>
                <h2>Tabajo 2</h2>
                <h3> (Años)</h3> 
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat expedita perferendis ullam esse blanditiis ad iusto, fugit est architecto? Ratione odit accusamus nihil saepe facilis, vitae ducimus quaerat quia voluptates!
                </p>         
            </li>
            <li>
                <h2>Tabajo 3</h2>
                <h3> (Años)</h3> 
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat expedita perferendis ullam esse blanditiis ad iusto, fugit est architecto? Ratione odit accusamus nihil saepe facilis, vitae ducimus quaerat quia voluptates!
                </p>         
            </li>
        </ul>
    </div>
</div>