<div class="row contenedor-acerca-de ">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <img src="../../../assets/logos/perfil.jpg" class="img-fluid" id="foto-de-perfil" alt="">
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 nombre-titulo">
                <h1 #nombre >Jonathan Romano</h1>
                <p class="titulo">Full stack developer Jr</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <div id="acerca-de-mi-texto" >
            <span>
                <h1>Acerca de mi:</h1>
                <p>
                    Soy una persona responsable, con capacidad de adaptación y de trabajo en equipo, 
                    estoy en búsqueda de nuevos desafíos que me permitan adquirir habilidades o desarrollar 
                    aquellas que ya poseo, para poder seguir avanzando en este rubro que tanto me gusta.
                </p>

            </span>
        </div>
    </div>

</div>