<div class="row">
    <div class="container">
        <div class="logo col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/logos/APLogo.png" class="img-fluid" alt="" id="logoAP">

        </div>
        <div class="redes col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div>
                <a href=""><img src="../../../assets/logos/linkedin.png" alt=""></a>
                <a href=""><img src="../../../assets/logos/github.png" alt=""></a>
                <a href=""><img src="../../../assets/logos/facebook.png" alt=""></a>
                <a href=""><img src="../../../assets/logos/instagram.png" alt=""></a>
                <button type="button" class="btn btn-outline-light">Ingreso</button>
            </div>
        </div>

    </div>
</div>
